# Domain to target (ALB host for ingress HTTP)
TARGET_HOST=blah.kloudcover.com

# Derived URLs
BASE_URL=https://${TARGET_HOST}
WS_URL=wss://${TARGET_HOST}:8082

# Optional tags for k6 local summaries
TEST_TAGS=env:prod,service:mesh

